{% extends "base.html" %}
{% load static %}
{% block title %}Еда{% endblock title %}

{% block content %}
<div class="ftco-blocks-cover-1">
    <div class="site-section-cover overlay" style="background-image: url('{% static 'images/food_.jpg' %}')">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-8 aos-init aos-animate" data-aos="fade-right">
                    <h1 class="mb-3 text-white">Оши и кыргызские особые блюда</h1>
                    <p>Откройте для себя уникальный ряд блюд, которых вы больше нигде в Кыргызстане не попробуете.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="site-section">
    <div class="container">
        <div class="row">
            {% for food in foods %}
            <div class="col-lg-12 mb-4" style="display: inline-block; text-align: center;">
                <div class="post-entry-1 h-100">
                    <a href="#">
                        <img src="{{ food.img.url }}" width="750" alt="Image" style="display: block; margin: 0 auto;"
                             class="img-fluid">
                    </a>
                    <div class="post-entry-1-contents">

                        <h2>{{ food.title }}</h2>
                        <p>{{ food.description|safe}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="col-12 mt-5 text-center">
            {% for page in page_obj.paginator.page_range %}
            <!--            <div class="page-item {% if page == page_obj.number %} active {% endif %}">-->
            <a class="p-3" href="?page={{ page }}">
                {{ page }}
            </a>
            <!--            </div>-->
            {% endfor %}
        </div>

    </div>
</div>
<div class="site-section bg-image overlay" style="background-image: url('{% static 'images/osh2.png' %}')">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7 text-center">
                <h2 class="font-weight-bold text-white">Ош</h2>
                <p class="text-white">Ошской области другая сторона. Именно тут соседствуют две самые большие
                    среднеазиатские горные системы — Тянь-Шань и Памир, образуя удивительное природное и
                    географическое многообразие. Многочисленные ущелья и горные долины славны своей нетронутой
                    природой и притягивают к себе туристов со всего мира. В этих местах можно найти все — сложные
                    туристические маршруты для треккинга и велотуризма, высокие горные пики для альпинизма и
                    скалолазания. Широко известны пещеры Ошской области и ее целебные источники. Широкие просторы
                    Алайской долины хранят в себе уклад кочевой кыргызской жизни, не изменившегося с самых давних
                    времен. Одна из высочайших вершин Кыргызстана и Памира — семятысячный пик Ленина также находится
                    здесь, в Ошской области. Одним словом здесь есть что посмотреть любому туристу.</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}